<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">
     
     
   <context:property-placeholder
   	location="classpath:jdbc.properties"
   	system-properties-mode="FALLBACK"
   />
   
   <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
         destroy-method="close">
   	<property name="driverClassName" value="${driverClassName}"></property>
   	<property name="url" value="${url}"></property>
   	<property name="username" value="${username}"></property>
   	<property name="password" value="${password}"></property>
   	<property name="initialSize" value="${initialSize}"></property>
   	<property name="maxIdle" value="${maxIdle}"></property>
   	<property name="minIdle" value="${minIdle}"></property>
   </bean>
	
	<!-- 配置MyBatis工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 指定核心配置文件位置 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>

	<!-- Mapper代理开发(基于MapperFactoryBean) -->
	<bean id="umapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.dbs.mapper.UserInfoMapper"></property>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="userService" class="com.dbs.serviceImp.UserInfoServiceImp">
		<property name="umapper" ref="umapper"></property>
	</bean>
	
</beans>








